<ul style="list-style-type:none">
    {{#each mensajes_all }}
    <li><a style="color: blue; font-weight: bold">{{this.AUTOR}}:</a><a style= "color: brown">{{{this.DATE}}}:</a><a style="color: green; font-style: italic;">{{this.MENSAJE}}</a></li>
    {{/each}}
</ul>